@model Cat
@{
    ViewData["Title"] = "Details";
}}

<h2>@Model.Name</h2>
<img src="@(Model.ImageUrl)" alt="Picture for @(Model.Id)" style="max-width:300px" />
<p>
    <strong>
        <label for="t1">Age:</label>
        <input type="text" id="t1" value="@(Model.Age)" />
    </strong>
</p>
<p>
    <strong>
        <label for="t2">Bread:</label>
        <input type="text" id="t2" value="@(Model.Bread)" />
    </strong>
</p>
<p>
    <a asp-controller="Cats" asp-action="UpdateCat" asp-route-data="@Model"> ПРОМЯНА на ДАННИТЕ за ТАЗИ котка</a>

</p>
